* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.backgroundDiv {
  margin-right: 40px;
}

img {
  width: 475px;
  height: 100vh;
}

.formDiv {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

header {
  margin-top: 50px;
  margin-bottom: 50px;
}

form {
  margin-bottom: 50px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 100px;
}

legend {
  margin-bottom: 20px;
}

.formCol1,
.formCol2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 125px;
  padding: 10px;
}
